.individual-chat-wrapper{
  margin-left: 160px;
  height: 100vh;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }
  .chat-text {
    font-size: 18px;
    text-decoration: none;
    color: #821457;
  }


  .send-new-message-block{
    display: flex;
  }
  .new-message{
    width: 90%;
    color: azure;
    background-color: darkkhaki;
    font-size: 22px;
  }
  .send-button{
    border-radius: 10px;
    background-color: #008CBA;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }